/node_modules
/__pycache__
/note
/static/img/arrow_right.svg
/static/img/chatbot.svg
/static/img/group.svg
/static/img/home.svg
/static/img/left-arrow.svg
/static/img/right-arrow.svg
/static/img/tes.svg
/static/model
../dataset (pre)/.ipynb_checkpoints
