<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href={{ url_for('static', filename='/css/output.css') }} type="text/css">
    <link rel="stylesheet" href={{ url_for('static', filename='/css/add.css') }} type="text/css"> -->
    <link rel="stylesheet" href='../static/css/output.css'type="text/css">
    <link rel="stylesheet" href='../static/css/add.css'type="text/css">
    <title>InDEP</title>
</head>
<body class="hack">

    <div class="konten grid grid-cols-12 h-screen">

        <!-- Soal Tes 1 -->
        <div class="beranda col-start-3 col-end-10 block">

            <div class="judul-soal-tes mt-32">
                <h1 class="font-bold text-[4rem]">Pertanyaan 4</h1>
            </div>

            <div class="penjelasan-soal-tes w-100 mt-20">
                <h5 class="text-[2rem]">
                    Umur Anda sekarang ...
                </h5>
            </div>

            <div class="jawaban-soal-tes mt-10">
                <div class="pilihan-jawaban-soal-tes">

                    <div class="grup-jawaban-soal-tes">

                        <label for="" class="point-jawaban-soal-tes text-2xl font-medium capitalize inline-block align-middle text-black relative cursor-pointer">
                            <input class="w-20 border-2 border-[#0AC0F7] outline-0 active:border-[#0AC0F7] rounded-lg px-3 py-2 focus:ring-0 focus:outline-0 focus:outline-none" type="text" name="umur" required>
                        </label>

                    </div>

                </div>
            </div>

        </div>

        <!-- Tombol Kembali -->
        <div class="kembali-tes relative mx-auto">
            <div class="tombol-kembali-tes absolute bottom-32 flex align-items-center justify-center cursor-pointer transition-all duration-300 ease-in-out hover:scale-105 hover:transition-all hover:duration-300 hover:ease-in-out">
                <a href="mulai_tes3.html">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="64" viewBox="0 0 256 256" xml:space="preserve">

                        <defs>
                        </defs>
                        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                            <polygon points="20.48,45 59.75,90 69.52,81.48 37.69,45 69.52,8.52 59.75,0 " style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #0AC0F7; fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
                        </g>
                        </svg>
                </a>
            </div>
        </div>

        <!-- Tombol Lanjut -->
        <div class="lanjut-tes relative mx-auto">
            <div class="tombol-lanjut-tes absolute bottom-32 flex align-items-center justify-center cursor-pointer transition-all duration-300 ease-in-out hover:scale-105 hover:transition-all hover:duration-300 hover:ease-in-out">
                <a href="tes_hasil.html">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="64" viewBox="0 0 256 256" xml:space="preserve">

                        <defs>
                        </defs>
                        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                            <polygon points="69.52,45 30.25,90 20.48,81.48 52.31,45 20.48,8.52 30.25,0 " style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #0AC0F7; fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
                        </g>
                        </svg>
                </a>
            </div>
        </div>

    </div>


</body>
</html>