<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href={{ url_for('static', filename='/css/output.css') }} type="text/css">
    <link rel="stylesheet" href={{ url_for('static', filename='/css/add.css') }} type="text/css"> -->
    <link rel="stylesheet" href='../static/css/output.css'type="text/css">
    <link rel="stylesheet" href='../static/css/add.css'type="text/css">
    <title>InDEP</title>
</head>
<body class="hack">

    <div class="konten grid grid-cols-12 h-screen">

        <!-- Hasil Tes -->
        <div class="beranda col-start-4 col-end-10 block">

            <div class="judul-tes-hasil mt-20">
                <h1 class="uppercase font-bold text-[4rem] text-center text-[#0AC0F7]">hasil</h1>
            </div>
            
            <div class="hasil-jawaban-tes">
                <h5 class="uppercase font-bold text-[2rem] text-center mt-24 underline underline-offset-4">Anda mengalami depresi</h5>
            </div>

            <div class="saran-hasil-jawaban-tes">
                <div class="judul-saran-jawaban-tes mt-12 text-center">
                    <h3 class="text-[1.5rem]">Saran:</h3>
                </div>

                <div class="deskripsi-saran-jawaban-tes mt-16">
                    <p class="text-[1.625rem] text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec ligula diam. In ornare turpis sagittis volutpat blandit. Suspendisse pellentesque, magna a finibus tempor, velit diam pretium leo, sit amet condimentum ligula eros at lacus. Ut nec consequat est, sit amet rutrum felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec condimentum tellus at leo interdum vestibulum.
                    </p>
                </div>
            </div>

            <!-- Kembali ke Halaman Utama -->
            <div class="kembali-beranda">
                <p class="text-[#0AC0F7] text-[1.25rem] text-center mt-6">
                    <a href="index.html" class="underline underline-offset-3">
                        Beranda
                    </a>
                </p>
            </div>

        </div>

    </div>

    <!-- <div class="judul-tes-hasil">
        <h1 class="uppercase text-[4rem]">Hasil</h1>
    </div>

    <div class="hasil-tes-hasil">
        <div class="text-[2rem] font-bold underline-offset-1">Anda mengalami depresi</div>
    </div> -->

</body>
</html>